doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css')
  link(rel='stylesheet' href='main.css')
  title &Scy;&lcy;&acy;&jcy;&dcy;&iecy;&rcy; | &Pcy;&rcy;&ocy;&iecy;&kcy;&tcy; 3
.container
  .sidebar
    div(style='background: linear-gradient(215.32deg, #ffc400 -1%, #a36b02 124%);')
      h1 STIHL
    div(style='background: linear-gradient(215.32deg, #ffc400 -1%, #a36b02 124%);')
      h1 STIHL
    div(style='background: linear-gradient(215.32deg, #ffc400 -1%, #a36b02 124%);')
      h1 STIHL
  .main-slide
    .slide(style="\
    background-image: url(img/materials/benzopila.png);\
    ")
    .slide(style="\
    background-image: url(img/materials/benzopila1.png);\
    ")
    .slide(style="\
    background-image: url(img/materials/benzopila2.png);\
    ")
  .controls
    button.down-button
      i.fas.fa-arrow-down
    button.up-button
      i.fas.fa-arrow-up

      script(src='js/main.js')
